@keyframes jump {
    0%{top: 430px;}
    40%{top: 330px;}
    50%{top: 300px;}
    60%{top: 330px;}
    100%{top: 430px;}
}

@keyframes block {
    0%{left: 500px;}
    100%{left: -50px;}
}

:root {
    --blockSpeed: ;
    --jumpLength: ;
}

#game {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    background-color: #C3ACD0;
    position: relative;
}

#character {
    width: 50px;
    height: 70px;
    background-color: #674188;
    position: relative;
    top: 430px;
}

#block {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #20262E;
    top: 380px;
    left: 450px;
}

.jump {
    animation: jump var(--jumpLength) linear;
}

.blockmove {
    animation: block var(--blockSpeed) linear infinite;
}

.centre {
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    position: absolute;
    margin-left: 20px;
    font-family: 'Itim', cursive;
}

.dead {
    font-size: 300%;
    font-family: 'Itim', cursive;
    background-color: #D61355;
    border-radius: 10%;
    line-height: 200%;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
}

.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Itim', cursive;
    color: #ffffff;
    font-size: 20px;
    background: #645CBB;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-style: none;
  }
  
  .btn:hover {
    background: #A084DC;
    border-style: none;
    text-decoration: none;
  }

.hidden {
    display: none;
}
